@{
    ViewData["Title"] = "Instructions Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ILETS PROJECT</title>
    <link rel="stylesheet" href="~/css/Instruction.css">
</head>

<section>
    <div class="about" id="about">
        <div>
            <h1>IELTS </h1>
            <p>IELTS Preparation: Free Tips, Lessons & English </p>
        </div>
    </div>

    <div class="task1" id="task1">
        <h2>IELTS Writing Task 1 Tips, Model Answers & More</h2>
        <p>
            Useful IELTS writing task 1 tips, lessons & videos for success
            achieving a high <br />
            score. This page contains all the information and help you need to do
            well. Learn about <br />
            the IELTS marking criteriia, paragraphing, vocabulary and much more.
            This page has <br />
            tips for Academic writing task 1 and GT writing 1 (see bottom of
            page).
        </p>
        <h2>IELTS Writing Task 1 Information</h2>
        <ol>
            <li>
                IELTS recommend you spend no more than 20 mins on writing tas 1.
                However,<br />
                the time is yours to manage as as you wish.
            </li>
            <li>you should write over 150 words</li>
            <li>
                IELTS writing task is worth only about 33% of your total writing
                marks.
            </li>
            <li>
                You will be marked on:<br />
                <ul>
                    <li>Task Achievment (25%)</li>
                    <li>Coherence & (25%)</li>
                    <li>Vocabulary (25%)</li>
                    <li>Grammar(25%)</li>
                </ul>
            </li>
            <li>
                Academic writing task 1 is report on a chart(bar chart, pie
                chart,<br />
                table, map, diagram/process).See below for practice charts, model
                answer, tips<br />
                etc.
            </li>
            <li>General Training writing task 1 is a letter only.</li>
            <li>All words will be counted and numbers count as one word.</li>
        </ol>
        <div class="flex-container">
            <div>
                <iframe frameborder="0"
                        src="https://www.youtube.com/embed/Zbh4doGGxsI"
                        allowfullscreen
                        ng-show="showvideo">
                </iframe>
            </div>

            <div>
                <iframe frameborder="0"
                        src="https://www.youtube.com/embed/kM4lenmCDpY"
                        allowfullscreen
                        ng-show="showvideo">
                </iframe>
            </div>

        </div>

    </div>
</section>
</html>
